config.stopBubbling = true
# Adds the @ConstructorProperties to constructors with arguments. Used to map properties and know the correct order of the params when using reflection
lombok.anyconstructor.addconstructorproperties = false
# Annotate generated code with @Generated for package scanners or code coverages
lombok.addLombokGeneratedAnnotation = true
lombok.addSuppressWarnings = false
lombok.experimental.flagUsage = WARNING